# Directories
/.assets/
/.autoconverted/
/.godot/
/addons/
/Components/
/Resources/
/Scenes/

# Files
/default_bus_layout.tres
/export_presets.cfg
/project.godot

/icon*
/cursor*

# Contributer Mods
Mod/ItemPooler/*
Mod/ExampleMod/icon.png
Mod/ExampleMod/icon.png.import
Mod/ExampleMod/mod.gd
