# Directories
/.assets/
/.autoconverted/
/.godot/
/addons/
/Components/
/Resources/
/Scenes/
/Mod Loader/
ModLoaderCore/

# Files
default_bus_layout.tres
export_presets.cfg
project.godot

icon.png*
icon.ico*
icon.svg*
cursor.png*
